---
import './Footer.css';
---

<footer class="main-footer">
  <div class="footer-container">
    <p class="copyright mono">&copy; 2024 Jose Ceballos / Systems Educator</p>
    
    <div class="footer-links mono">
      <a href="#privacy" class="footer-link">Privacidad</a>
      <a href="#terms" class="footer-link">Términos</a>
      <a href="#index" class="footer-link">Índice</a>
    </div>
  </div>
</footer>

<script src="./Footer.js"></script>
